<?xml version="1.0" encoding="UTF-8"?>

<!--setting debug here to true, shows internal data of logback.-->
<configuration>

  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
  <property name="LOG_BASE_DIR" value="${logging.baseDir}"/>


  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%15.15t] %-80.80logger{79} : %m%n%ex
      </Pattern>

    </encoder>
  </appender>

  <root level="warn">
    <appender-ref ref="STDOUT"/>
  </root>

<!--  <logger name="strd" level="debug"/>-->
  <logger name="strd.jstrd.picocli.TerminateCommand" level="off"/>
  <logger name="strd.jstrd.util.singleinstance.JUniqueSingleInstance" level="off"/>
  <logger name="strd.lib.streamdeck.StreamDeckOriginalV2" level="off"/>
  <logger name="strd.jstrd.util.CliUtil" level="off"/>
  <logger name="reactor" level="off"/>


</configuration>
